Main/src/Web References/storage/service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="MoveFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SoucePath" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SourceFileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TargetPath" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TargetFileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TranID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MoveFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MoveFileResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MoveandDeleteFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SoucePath" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SourceFileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TargetPath" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TargetFileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TranID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MoveandDeleteFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MoveandDeleteFileResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFaxestoProcess">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="stringtoCombine" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BaseFaxNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFaxestoProcessResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFaxestoProcessResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFaxestoProcess_CS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="stringtoCombine" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFaxestoProcess_CSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFaxestoProcess_CSResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TargetPath" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tranid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetUserResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetUserFolder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tranid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetUserFolderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetUserFolderResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendEmail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Subject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ToStr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fromStr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DisplayName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AttchedFile1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AttchedFile2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AttchedFile3" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mailBody" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tranid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendEmailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendEmailResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="MoveFileSoapIn">
    <wsdl:part name="parameters" element="tns:MoveFile" />
  </wsdl:message>
  <wsdl:message name="MoveFileSoapOut">
    <wsdl:part name="parameters" element="tns:MoveFileResponse" />
  </wsdl:message>
  <wsdl:message name="MoveandDeleteFileSoapIn">
    <wsdl:part name="parameters" element="tns:MoveandDeleteFile" />
  </wsdl:message>
  <wsdl:message name="MoveandDeleteFileSoapOut">
    <wsdl:part name="parameters" element="tns:MoveandDeleteFileResponse" />
  </wsdl:message>
  <wsdl:message name="GetFaxestoProcessSoapIn">
    <wsdl:part name="parameters" element="tns:GetFaxestoProcess" />
  </wsdl:message>
  <wsdl:message name="GetFaxestoProcessSoapOut">
    <wsdl:part name="parameters" element="tns:GetFaxestoProcessResponse" />
  </wsdl:message>
  <wsdl:message name="GetFaxestoProcess_CSSoapIn">
    <wsdl:part name="parameters" element="tns:GetFaxestoProcess_CS" />
  </wsdl:message>
  <wsdl:message name="GetFaxestoProcess_CSSoapOut">
    <wsdl:part name="parameters" element="tns:GetFaxestoProcess_CSResponse" />
  </wsdl:message>
  <wsdl:message name="SetUserSoapIn">
    <wsdl:part name="parameters" element="tns:SetUser" />
  </wsdl:message>
  <wsdl:message name="SetUserSoapOut">
    <wsdl:part name="parameters" element="tns:SetUserResponse" />
  </wsdl:message>
  <wsdl:message name="SetUserFolderSoapIn">
    <wsdl:part name="parameters" element="tns:SetUserFolder" />
  </wsdl:message>
  <wsdl:message name="SetUserFolderSoapOut">
    <wsdl:part name="parameters" element="tns:SetUserFolderResponse" />
  </wsdl:message>
  <wsdl:message name="SendEmailSoapIn">
    <wsdl:part name="parameters" element="tns:SendEmail" />
  </wsdl:message>
  <wsdl:message name="SendEmailSoapOut">
    <wsdl:part name="parameters" element="tns:SendEmailResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="MoveFile">
      <wsdl:input message="tns:MoveFileSoapIn" />
      <wsdl:output message="tns:MoveFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MoveandDeleteFile">
      <wsdl:input message="tns:MoveandDeleteFileSoapIn" />
      <wsdl:output message="tns:MoveandDeleteFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFaxestoProcess">
      <wsdl:input message="tns:GetFaxestoProcessSoapIn" />
      <wsdl:output message="tns:GetFaxestoProcessSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFaxestoProcess_CS">
      <wsdl:input message="tns:GetFaxestoProcess_CSSoapIn" />
      <wsdl:output message="tns:GetFaxestoProcess_CSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetUser">
      <wsdl:input message="tns:SetUserSoapIn" />
      <wsdl:output message="tns:SetUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetUserFolder">
      <wsdl:input message="tns:SetUserFolderSoapIn" />
      <wsdl:output message="tns:SetUserFolderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendEmail">
      <wsdl:input message="tns:SendEmailSoapIn" />
      <wsdl:output message="tns:SendEmailSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MoveFile">
      <soap:operation soapAction="http://tempuri.org/MoveFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MoveandDeleteFile">
      <soap:operation soapAction="http://tempuri.org/MoveandDeleteFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFaxestoProcess">
      <soap:operation soapAction="http://tempuri.org/GetFaxestoProcess" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFaxestoProcess_CS">
      <soap:operation soapAction="http://tempuri.org/GetFaxestoProcess_CS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetUser">
      <soap:operation soapAction="http://tempuri.org/SetUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetUserFolder">
      <soap:operation soapAction="http://tempuri.org/SetUserFolder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendEmail">
      <soap:operation soapAction="http://tempuri.org/SendEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MoveFile">
      <soap12:operation soapAction="http://tempuri.org/MoveFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MoveandDeleteFile">
      <soap12:operation soapAction="http://tempuri.org/MoveandDeleteFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFaxestoProcess">
      <soap12:operation soapAction="http://tempuri.org/GetFaxestoProcess" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFaxestoProcess_CS">
      <soap12:operation soapAction="http://tempuri.org/GetFaxestoProcess_CS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetUser">
      <soap12:operation soapAction="http://tempuri.org/SetUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetUserFolder">
      <soap12:operation soapAction="http://tempuri.org/SetUserFolder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendEmail">
      <soap12:operation soapAction="http://tempuri.org/SendEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://prodstorage/ImagingServiceVB/service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://prodstorage/ImagingServiceVB/service1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>